.panel-container {
    zoom: 1;
}

    .panel-container:before, .panel-container:after {
        content: '';
        display: table;
    }

    .panel-container:after {
        clear: both;
    }

.panel-column {
    position: relative;
    z-index: 1;
    float: left;    
    padding: 8px 0; /*was30px*/
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

    .panel-column .panel-button + .panel-button {
        margin-left: 20px;
    }

/*@media screen and (max-width: 800px) {
    .panel-column {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .panel-column {
        width: 100%;
    }
}*/

.panel-button {
    display: inline-block;
    position: relative;
    /*height: 22px;*/
    line-height: 33px;
    padding: 0 15px;
    font-size: 15px;
    color: white !important;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-radius: 7px;
    outline: 0;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    min-width: 70px;
}

    .panel-button.small {
        display: inline-block;
        position: relative;
        /* height: 22px; */
        line-height: 33px;
        padding: 0 5px;
        font-size: 15px;
        color: white !important;
        text-decoration: none;
        /* text-shadow: 0 -1px rgba(0, 0, 0, 0.3); */
        border: 2px solid;
        border-radius: 7px;
        outline: 0;
        -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        min-width: 33px !important;
    }

    .panel-button:before, .panel-button:after {
        content: '';
        position: absolute;
    }

    .panel-button:before {
        top: -5px;
        bottom: -5px;
        left: -5px;
        right: -5px;
        z-index: -1;
        border-radius: 9px;
    }

    .panel-button:after {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        /*border: 2px solid rgba(255, 255, 255, 0.1);*/
        border-bottom: 0;
        border-radius: 7px;
    }

    .panel-button.alt {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    }

        .panel-button.alt:before {
            display: none;
        }


.lt-ie9 .panel-button:before {
    display: none;
}

.column.plane {
    background: #212121;
}


.panel-button.plane {
    background: #999999; /*#999999;*/
    border-color: black black black; /*#787878 #757575 #666666;*/ /*#e37c41*/
    /*border-color: black;*/
    background-image: linear-gradient(to bottom, #808082, #000000);
    /*background-image: -webkit-linear-gradient(top, #808082, #78787a 50%, #6e6e6e 50%, #646363);
    background-image: -moz-linear-gradient(top, #808082, #78787a 50%, #6e6e6e 50%, #646363);
    background-image: -o-linear-gradient(top, #808082, #78787a 50%, #6e6e6e 50%, #646363);
    background-image: linear-gradient(to bottom, #808082, #78787a 50%, #6e6e6e 50%, #646363);*/
}

    .panel-button.plane.enabled {
        border-color: black lawngreen black; /*#787878 #757575 #666666;*/ /*#e37c41*/
        color: greenyellow !important;
    }

    .panel-button.plane:before {
        background: #b6afaf;
        background-image: linear-gradient(to bottom, black, #353535);
        /*background-image: -webkit-linear-gradient(top, #8b8484, #c2b7b7);*/
    }

    .panel-button.plane:active {
        background: #a6a6a6;
        background-image: linear-gradient(to bottom, #000000, #808082);
        /*background-image: -webkit-linear-gradient(top, #8a7577, #a1a1a1 60%, #a6a6a6);
        background-image: -moz-linear-gradient(top, #8a7577, #a1a1a1 60%, #a6a6a6);
        background-image: -o-linear-gradient(top, #8a7577, #a1a1a1 60%, #a6a6a6);
        background-image: linear-gradient(to bottom, #8a7577, #a1a1a1 60%, #a6a6a6);*/
    }

        .panel-button.plane:active:after {
            border-color: #a6a6a6
        }

.panel-indicator {
    background: url(/img/ind_black.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: 25px 7px;
    background-position: center center;
    width: 100%;
    height: 100%;
}

    .panel-indicator.enabled {
        background: url(/img/ind_orange.jpg) no-repeat;
        background-repeat: no-repeat;
        background-size: 25px 7px;
        background-position: center center;
        width: 100%;
        height: 100%;
    }

