/*Customize at https://codepen.io/thierrymichel/pen/Pwzbmd*/

/* remoge margin: 1em;*/

[class*="push"] {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 0;
    /*margin: 1em;*/
    outline: none;
    background-color: #c2290a;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 200ms;
}

.push--flat {
    box-shadow: inset 0 2.34375px 0 #da2e0b, inset 0 -2.34375px 0 #aa2409, inset 0 0 0 2.34375px #b32609, inset 0 0 0 6.25px #c2290a, inset 0 0 0 7.5px #611405, inset 0 0 0 8.152173913px black, inset 0 0 0 10px rgba(247, 133, 110, 0.7), inset 0 0 0 13.6363636364px #c2290a, inset 0 30px 10px #aa2409, inset 0 0 7.5px 12.5px #911f08, 0 3.75px 0 rgba(0, 0, 0, 0.3);
}

    .push--flat:after {
        content: '';
        position: absolute;
        bottom: 3.75px;
        left: 7.5px;
        display: block;
        width: 60px;
        height: 60px;
        border: 5px solid rgba(0, 0, 0, 0.3);
        border-width: 0 0 5px;
        border-radius: 50%;
        transition-duration: 200ms;
    }

    .push--flat:active, .push--flat.is-pushed {
        box-shadow: inset 0 2.34375px 0 #da2e0b, inset 0 -2.34375px 0 #aa2409, inset 0 0 0 2.34375px #b32609, inset 0 0 0 6.25px #c2290a, inset 0 0 0 7.5px #611405, inset 0 0 0 8.8235294118px black, inset 0 0 0 10px rgba(247, 133, 110, 0.2), inset 0 0 0 13.6363636364px #b32609, inset 0 30px 10px #9b2108, inset 0 0 7.5px 12.5px #791a06, 0 3.75px 0 rgba(0, 0, 0, 0.3);
        background-color: #b8270a;
    }

        .push--flat:active:after, .push--flat.is-pushed:after {
            bottom: 8.75px;
            border-width: 0;
        }

.push--skeuo {
    box-shadow: inset 0 3.125px 0 #da2e0b, inset 0 -3.125px 1.25px #aa2409, 0 0 1.25px #c2290a, inset 0 0 2.5px #791a06, inset 0 0 2.5px rgba(51, 51, 51, 0.5), inset 0 0 1.25px 6.25px #c2290a, inset 0 -2.5px 1.875px 7.5px rgba(51, 51, 51, 0.7), inset 0 0 1.25px 7.5px #611405, inset 0 0 1.25px 7.5px rgba(51, 51, 51, 0.7), inset 0 0 0.625px 8.152173913px black, inset 0 0 0.625px 9.375px rgba(247, 133, 110, 0.7), inset 0 3.75px 0 8.8235294118px rgba(244, 71, 37, 0.7), inset 0 -3.75px 1.25px 8.8235294118px rgba(145, 31, 8, 0.2), inset 0 0 0 13.6363636364px #c2290a, inset 0 30px 10px #aa2409, inset 0 0 7.5px 12.5px #911f08, 0 1.875px 3.75px rgba(0, 0, 0, 0.5);
}

    .push--skeuo:active, .push--skeuo.is-pushed {
        box-shadow: inset 0 3.125px 0 #da2e0b, inset 0 -3.125px 1.25px #aa2409, 0 0 1.25px #c2290a, inset 0 0 2.5px #791a06, inset 0 0 2.5px rgba(51, 51, 51, 0.5), inset 0 0 1.25px 6.25px #c2290a, inset 0 -2.5px 1.875px 7.5px rgba(51, 51, 51, 0.7), inset 0 0 1.25px 7.5px #611405, inset 0 0 1.25px 7.5px rgba(51, 51, 51, 0.7), inset 0 0 1.875px 8.8235294118px black, inset 0 0 0.625px 10px rgba(247, 133, 110, 0.2), inset 0 3.75px 0 28px rgba(244, 71, 37, 0.5), inset 0 -3.75px 1.25px 28px rgba(97, 20, 5, 0.2), inset 0 0 0 13.6363636364px #b32609, inset 0 30px 10px #9b2108, inset 0 0 7.5px 12.5px #791a06, 0 1.875px 3.75px rgba(0, 0, 0, 0.5);
        background-color: #b8270a;
    }

        .push--skeuo:active:before, .push--skeuo.is-pushed:before {
            opacity: .5;
        }

    .push--skeuo:before {
        content: '';
        position: absolute;
        bottom: 16.6666666667px;
        left: 20.8333333333px;
        display: block;
        width: 34.0909090909px;
        height: 22.7272727273px;
        background: rgba(247, 133, 110, 0.2);
        background: linear-gradient(to top, rgba(250, 173, 158, 0.3) 0%, rgba(194, 41, 10, 0.1) 100%);
        border-radius: 40% 40% 60% 60%;
        transition: opacity 200ms;
    }
